.addForm{
  width: 462px;
  height: 182px; 
  border: 1px solid #F2F2F2;
  background: white;
  position: relative;
  z-index: 1;
  margin: auto;
  border-radius: 4px;
  font-family: Roboto;
  font-style: Regular;
  font-size: 14px;
  line-height: 16px;
  line-height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);}

.head{
  display: flex;
  justify-content:space-between;
  align-items: flex-end;
  margin-left: 32px;

}

.closeButton{
width:14px;
height: 14px; 
background: white;
background-image: url("./images/close.png");
background-size: 100%;
border: 0px;
margin-top: 30px;
margin-right: 32px;
}

.input{
position: absolute;
width: 398px;
height: 40px;
background: #F2F2F2;
border-radius: 4px;
border: 0px;
margin-top: 10px;
margin-left: 32px;
}

.button{
  width:148px;
  height: 36px; 
  border-radius: 4px;
  background: white;
  border: 1px solid #39B54A;
  margin-top: 4px;
  margin-left: 282px;
  }

.error{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
color: #FF0000;
margin-top: 60px;
margin-left: 32px;
height: 10px;
}
