@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


.list{
position: absolute;
left: 3.33%;
right: 44.32%;
top: 3.7%;
bottom: 91.11%;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 37px;
display: flex;
align-items: center;

color: #000000;
}

.addButton{
position: absolute;
width: 148px;
height: 36px;
left: 1069px;
top: 50px;
background: white;
border: 1px solid #39B54A;
box-sizing: border-box;
border-radius: 4px;
margin-bottom: ;
}

.taskList{
  position: absolute;
left: 3.33%;
right: 36.61%;
top: 10.93%;
bottom: 77.04%;
border-top: 1px solid #E6E6E6;
box-sizing: border-box;
width: 1153px;
}

.string{
display: flex;
border: 1px solid #E6E6E6;
border-top: 0px;
height: 42px;
font-family: Tahoma;
font-size: 14px;
align-items: center;

}
.number{
  margin-left: 20px;
  width: 162px;
  border-right: 1px solid #E6E6E6;

}

.task{
  margin-left: 20px;
  /* padding-left: 20px; */
  width: 847px;
  border-right: 1px solid #E6E6E6;
}

.changeButton{

}
